<h1>This is fiscal_years home.html</h1>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= current_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nIn Current Dollars: 1940-2019"
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= constant_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nIn Constant (FY 2009) Dollars: 1940-2019"
    }
  );
</script>




<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= gdp_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nAs a Percentage of GDP: 1940-2019"
    }
  );
</script>




<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_current_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nAs a Percentage of GDP: 1940-2019"
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_constant_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nAs a Percentage of GDP: 1940-2019"
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_gdp_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "Summary of Receipts, Outlays, and Surpluses or Deficits\nAs a Percentage of GDP: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["red"],
      axisLabelFontSize: 12
    }
  );
</script>



