<h2>Summary of Receipts, Outlays, and Surpluses or Deficits</h2>
<nav>
  <ul>
    <li id="receipts-main">Receipts & Outlays:</li>
    <li id="receipts-current">Current Dollars</li>
    <li id="receipts-constant">Constant (2009) Dollars</li>
    <li id="receipts-gdp">As Percentage of GDP</li>
  </ul>
  <ul>
    <li id="receipts-main">Surplus or Deficit:</li>
    <li id="receipts-current">Current Dollars</li>
    <li id="receipts-constant">Constant (2009) Dollars</li>
    <li id="receipts-gdp">As Percentage of GDP</li>
  </ul>
  <div id="graphdiv">
  </div>
</nav>

<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= current_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "In Current Dollars: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["green", "red"],
      axisLabelFontSize: 12
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= constant_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "In Constant (FY 2009) Dollars: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["green", "red"],
      axisLabelFontSize: 12
    }
  );
</script>




<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= gdp_dollars %>,
    {
      labels: [ "Fiscal Year", "Receipts", "Outlays" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "As a Percentage of GDP: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["green", "red"],
      axisLabelFontSize: 12
    }
  );
</script>




<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_current_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "As a Percentage of GDP: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["red"],
      axisLabelFontSize: 12
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_constant_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "As a Percentage of GDP: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["red"],
      axisLabelFontSize: 12
    }
  );
</script>



<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= surplus_deficit_gdp_dollars %>,
    {
      labels: [ "Fiscal Year", "Surplus/Deficit" ],
      drawPoints: true,
      xlabel:"Fiscal Year",
      ylabel:"Percentage Surplus or Deficit",
      title: "As a Percentage of GDP: 1940-2019",
      titleHeight: 25,
      pointSize: 2,
      // TODO: If statement that turns surplus green
      colors: ["red"],
      axisLabelFontSize: 12
    }
  );
</script>



