<nav id="choices">
  <ul id="receipts">
    <p>USA Receipts & Outlays Since 1940</p>
    <li id="current">In Current Dollars</li>
    <li id="constant">Constant (2009) Dollars</li>
    <li id="gdp">In As Percentage of GDP</li>
  </ul>
  <ul id="deficit">
    <p>USA Surpluses or Deficits Since 1940</p>
    <li id="current">In Current Dollars</li>
    <li id="constant">In Constant (2009) Dollars</li>
    <li id="gdp">As Percentage of GDP</li>
  </ul>
</nav>

<h2>Summary of Receipts, Outlays, and Surpluses or Deficits</h2>
  <div id="graphdiv">
  </div>

<script>
$(document).ready(function() {
  console.log( "document ready" );

  $("#choices li").hover(function() {
    $(this).css('font-weight','bold')
  }, function() {$(this).css('font-weight','normal')}
  );

  $("#receipts li#current").on("click", function(e) {
    e.preventDefault();
    console.log("Receipts " + $(this).text() + " clicked (single handler");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= current_dollars %>,
      {
        labels: [ "Fiscal Year", "Receipts", "Outlays" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "In Current Dollars: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["green", "red"],
        axisLabelFontSize: 12
      }
    );
  });
  $("#receipts li#current").trigger( "click" );


  $("#receipts li#constant").on("click", function(e) {
    e.preventDefault();
    console.log("Receipts " + $(this).text() + " clicked (single handler");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= constant_dollars %>,
      {
        labels: [ "Fiscal Year", "Receipts", "Outlays" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "In Constant (FY 2009) Dollars: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["green", "red"],
        axisLabelFontSize: 12
      }
    );

  });

  $("#receipts li#gdp").on("click", function(e) {
    e.preventDefault();
    console.log("Receipts " + $(this).text() + " clicked (single handler");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= gdp_dollars %>,
      {
        labels: [ "Fiscal Year", "Receipts", "Outlays" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["green", "red"],
        axisLabelFontSize: 12
      }
    );
  });


  $("#deficit li#current").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_current_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });

  $("#deficit li#constant").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_constant_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });

  $("#deficit li#gdp").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    new Dygraph(
      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_gdp_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });
});
</script>



