<nav id="nav-choices">
  <select id="choices">
    <option value="current-receipts">Receipts & Outlays (Current Dollars)</li>
    <option value="constant-receipts">Receipts & Outlays (2009 Dollars)</li>
    <option value="gdp-receipts">Receipts & Outlays as Percentage of GDP</li>
    <option value="current-surpluses">Surpluses or Deficits (Current Dollars)</li>
    <option value="constant-surpluses">Surpluses or Deficits (2009 Dollars)</li>
    <option value="gdp-surpluses">Surpluses or Deficits as Percentage of GDP</li>
  </select>
</nav>

<h2>Summary of Receipts, Outlays, and Surpluses or Deficits</h2>
  <div id="graphdiv">
  </div>

<script>
$(document).ready(function() {
  console.log( "document ready" );

  // Load default graph
  g = new Dygraph(

        // containing div
        document.getElementById("graphdiv"),

        // CSV or path to a CSV file.
        <%= current_dollars %>,
        {
          labels: [ "Fiscal Year", "Receipts", "Outlays" ],
          drawPoints: true,
          xlabel:"Fiscal Year",
          ylabel:"In Billions of Dollars",
          title: "Receipts & Outlays in Current Dollars: 1940-2019",
          titleHeight: 25,
          pointSize: 2,
          // TODO: If statement that turns surplus green
          colors: ["green", "red"],
          axisLabelFontSize: 12
        }
      );

  // retrieve the jQuery wrapped dom object identified by the selector '#choices'
  var sel = $('#choices');
  // assign a change listener to it
  sel.change(function(){ //inside the listener
    // retrieve the value of the object firing the event (referenced by this)
    var value = $(this).val();
    // print it in the logs
    console.log(value + " selected."); // crashes in IE, if console not open
    // make the text of all label elements be the value
    $('label').text(value);
    // Same as above. Different syntax.
    var choice = $("#choices option:selected").val();
    console.log(choice + " chosen.");
  }); // close the change listener


  // $("#choices option#current").on("click", function(e)


  $('#choices').change(function() {

    if($('#choices option:selected').val() == "current-receipts") {
      console.log("current-receipts");
      g.user_attrs_.title = "Receipts & Outlays Current Dollars: 1940-2019";
      g.user_attrs_.ylabel = "In Billions of Dollars";
      g.updateOptions({file: <%= current_dollars %>})
      g.drawGraph_();
    } else if ($('#choices option:selected').val() == "constant-receipts") {
      console.log("constant-receipts");
      g.user_attrs_.title = "Receipts & Outlays in Constant (2009) Dollars: 1940-2019";
      g.updateOptions({file: <%= constant_dollars %>})
      g.drawGraph_();
    } else if ($('#choices option:selected').val() == "gdp-receipts") {
      console.log("gdp-receipts");
      g.user_attrs_.title = "Receipts & Outlays as a Percentage of GDP: 1940-2019";
      g.updateOptions({file: <%= gdp_dollars %>})
      g.drawGraph_();
    } else if ($('#choices option:selected').val() == "current-surpluses") {
      console.log("current-surpluses");
      g.user_attrs_.title = "Surplues or Deficits in Current Dollars: 1940-2019";
      g.user_attrs_.ylabel = "Percentage Surplus or Deficit"
      g.updateOptions({file: <%= surplus_deficit_current_dollars %>})
      g.drawGraph_();
    } else if ($('#choices option:selected').val() == "constant-surpluses") {
      console.log("constant-surpluses");
      g.user_attrs_.title = "Surplues or Deficits in Constant (2009) Dollars: 1940-2019";
      g.updateOptions({file: <%= XXX %>})
      g.drawGraph_();
    } else if ($('#choices option:selected').val() == "gdp-surpluses") {
      console.log("gdp-surpluses");
      g.user_attrs_.title = "Surplues or Deficits as a Percentage of GDP: 1940-2019";
      g.updateOptions({file: <%= XXX %>})
      g.drawGraph_();
    } else {
      console.log("Option selected not configured. Keeping existing graph.");
    }
  });





  $("#choices li#current").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_current_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });
});
</script>


<!-- Refactor below script: -->
<script>
  $("#choices li#constant").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    g = new Dygraph(

      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_constant_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });

  $("#choices li#gdp").on("click", function(e) {
    e.preventDefault();
    console.log("Deficits " + $(this).text() + " clicked");
    new Dygraph(
      // containing div
      document.getElementById("graphdiv"),

      // CSV or path to a CSV file.
      <%= surplus_deficit_gdp_dollars %>,
      {
        labels: [ "Fiscal Year", "Surplus/Deficit" ],
        drawPoints: true,
        xlabel:"Fiscal Year",
        ylabel:"Percentage Surplus or Deficit",
        title: "As a Percentage of GDP: 1940-2019",
        titleHeight: 25,
        pointSize: 2,
        // TODO: If statement that turns surplus green
        colors: ["red"],
        axisLabelFontSize: 12
      }
    );

  });
</script>



