<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:page_title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://dygraphs.com/1.0.1/dygraph-combined.js' %>
  <%= csrf_meta_tags %>
</head>

<body class="container-fluid">

  <header>
    <a href="/">
      <h1>Tracking The Debt</h1>
      <p class=header>Charting U.S. Receipts, Outlays and Deficits From 1940 to the Present</p>
    </a>
  </header>

  <nav>
    <ul class="nav nav-pills" id="main-nav">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/about">About</a></li>
      <li role="presentation"><a href='/fiscal_years'>Historical Tables</a></li>
    </ul>
  </nav>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>
<footer>
  <h6>@ Michael Coniaris Awesomeness</h6>
</footer>
</html>

